@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Family, version 21 </h1>
    <p>ASP.NET Core is a great tool for building modern applications</p>
</div>
