@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour la famille c 'est Ahmed Gondo </h1>
    <p>ASP.NET Core is a great tool</p>
</div>
